body {
  font-family: "SVN-Gilroy", sans-serif;
  font-size: 14px;
}
:root {
  --primary-color: #fcaf17;
  --second-color: #11006f;
  --footer-color: #2a2a86;
  --header-height: 148px;
  --footer-height: 412px;
  --header-preview-height: 74px;
  --content-width: 1240px;
  --content-banner-width: 232px;
}
/* ----------------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  transition: all 0.5s;
}
.bar-top {
  height: 48px;
  background: url(img/bannertop.png) center center no-repeat;
}
.wrap-container {
  background: url(img/background-header.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 95px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  /* padding-bottom: 5px; */
}
.container {
  margin: auto;
  max-width: var(--content-width);
}
.topbar-top {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar-top__left {
  width: calc(100% - 380px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.topbar-top__left .logo {
  float: left;
  width: 80px;
  position: relative;
  margin-right: 22px;
  padding: unset;
}
.topbar-top__left .search {
  max-width: 505px;
  margin: 5px 0;
  width: calc(100% - 100px);
}
.topbar-top__left .search form {
  width: 100%;
  margin: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
}
.topbar-top__left .search input {
  width: 100%;
  min-height: 38px;
  line-height: 38px;
  background: transparent;
  outline: none;
  margin: 0;
  border: none;
  overflow: hidden;
  background: #fff;
  font-size: 14px;
  color: #000;
  border-radius: 10px;
}
.topbar-top__left .search button {
  cursor: pointer;
  position: absolute;
  white-space: nowrap;
  width: 85px;
  height: 40px;
  right: 0;
  top: 0px;
  background: var(--primary-color);
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  border: none;
}
.topbar-top__left .search button i {
  font-size: 20px;
}
.topbar-top__right {
  width: 380px;
  display: flex;
  justify-content: flex-end;
}
.topbar-top__right a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #0056b3;
  margin: auto;
}

.topbar-top__right > a:first-child:hover {
  color: var(--primary-color);
}

.topbar-top__right span {
  font-weight: 500;
  font-size: 14px;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--primary-color);
  cursor: default;
}

.topbar-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: calc(95px - 35px - 53.2px);
}

.topbar-bottom__left {
  width: calc(100% - 300px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 35px;
}

.nav .menu > li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
  margin-right: 4px;
}

.menu > li::after {
  content: "";
  display: inline-block;
  height: 4px;
  border-radius: 4px;
  width: 0;
}

.menu > li:hover::after {
  transition: all 0.8s;
  width: 100%;
  background-color: var(--primary-color);
}

.menu > li:last-child {
  margin-right: 0 !important;
}

.nav .menu > li > a {
  padding-top: 10px;
  display: block;
  text-decoration: none;
  height: 35px;
  text-align: left;
  font-size: 14px;
  position: relative;
  line-height: 35px;
  font-weight: 600;
  color: var(--second-color);
}

.menu > li:hover > a {
  color: var(--primary-color);
}

/* .overlay {
  position: fixed;
  top: calc(var(--header-height) - 4px);
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.menu > li:hover > .overlay {
} */

.sub-menu {
  position: absolute;
  background-color: gainsboro;
  width: var(--content-width);
  left: 0;
  top: calc(100% + 4px);
  padding: 20px;
  z-index: 999;
  display: none;
}

.sub-menu a {
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sub-menu > ul > li > a {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}

.sub-menu .img-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.sub-menu > ul:last-child {
  width: 200px;
  border-radius: 8px;
  margin-top: 32px;
  margin-right: 32px;
}

.sub-menu__no-mega {
  position: absolute;
  top: calc(100% + 4px);
  background-color: gainsboro;
  z-index: 999;
  display: none;
}

.sub-menu__no-mega a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding: 5px 20px 5px 10px;
  color: #000;
  border-bottom: solid 1px #e5e6ec;
  text-align: left;
  text-decoration: none;
}

li .li-item-1 {
  width: 20%;
  display: inline-block;
  padding: 0 0 0 20px;
  vertical-align: top;
}

.li-item-1 > ul > li {
  display: block;
  margin-bottom: 10px;
}

.li-item-1 > ul {
  margin-bottom: 20px;
}

.menu li:hover .sub-menu {
  display: flex;
}

.menu li:hover .sub-menu__no-mega {
  display: block;
}

.sub-menu li:hover > a {
  color: var(--primary-color);
}

.sub-menu__no-mega li:hover > a {
  color: var(--primary-color);
}

.topbar-bottom__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
}

.topbar-bottom__right a {
  font-size: 14px;
  text-decoration: none;
  color: var(--second-color);
}

.topbar-bottom__right i {
  font-size: 20px;
  margin-right: 10px;
}

.topbar-bottom__right .cart {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  margin-right: 5px;
}

.topbar-bottom__right .sub-cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(100% + 15px);
  right: -205px;
  opacity: 1;
  z-index: 999;
  width: 477px;
  height: 215px;
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px #000;
  display: none;
}

.sub-cart::before {
  display: inline-block;
  content: "";
  position: relative;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid transparent;
  border-bottom: 16px solid var(--primary-color);
  top: -42px;
  left: -8px;
}
.topbar-bottom__right .cart:hover .sub-cart {
  display: flex;
}

.topbar-bottom__right .sub-cart img {
  display: inline-block;
  width: 90px;
  height: 105px;
}

.topbar-bottom__right .sub-cart p {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: #000;
}

.topbar-bottom__right .sub-cart a {
  text-decoration: none;
  color: #000;
}

.topbar-bottom__right .cart span {
  top: -8px;
  left: 14px;
  height: 19px;
  width: 19px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: var(--second-color);
  border-radius: 50%;
  background-color: var(--primary-color);
}

.topbar-bottom__right .account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* ----------------------------------------------------------------- */
/* SLIDER */
/* ----------------------------------------------------------------- */
.slider {
  display: flex;
  width: 100%;
  margin-top: var(--header-height);
  margin-bottom: 15px;
}

.slider-container {
  max-width: var(--content-width);
  margin: auto;
  position: relative;
}

.pagination {
  position: absolute;
  text-align: center;
  z-index: 10;
  left: 0;
  bottom: 30px;
  width: 100%;
}

.pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: none;
  border: 1px solid #fff;
  position: relative;
  margin: 0 2px !important;
  cursor: pointer;
}

.pagination-bullet:hover {
  background-color: #fff;
}

.btn-previous,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border-radius: 50%;
  background-color: #65520d;
  z-index: 10;
  cursor: pointer;
  width: 27px;
  height: 27px;
  display: flex;
}

.btn-previous i,
.btn-next i {
  margin: auto;
}

.btn-previous:hover,
.btn-next:hover {
  scale: 1.3;
  transition: all 0.5s;
}

.btn-next {
  right: 0;
}

.slider .slider-img {
  width: 100%;
  display: none;
}

.slider-img.active {
  display: block;
}

.slider-container .slider-img img {
  display: inline-block;
  width: 100%;
  min-height: 210px;
  margin: 0 auto;
  object-fit: cover;
}
/* ----------------------------------------------------------------- */
/* Banner */
/* ----------------------------------------------------------------- */
.banner {
  display: flex;
  width: 100%;
}

.wrap-img {
  max-width: var(--content-width);
  margin: auto;
  position: relative;
}

.wrap-img img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
}

.banner .text-promotion {
  position: absolute;
  width: 248px;
  height: 62px;
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  top: 32px;
  left: 243px;
}

.list-item-promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 17px;
  left: 500px;
}

.list-item-promotion .item-promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.item-promotion:hover {
  transform: translateY(-10px);
  transition: ease-in-out 0.6s;
}

.item-promotion:hover a > img {
  box-shadow: 0 2px 8px #000;
}

.item-promotion:hover a .title {
  color: var(--primary-color);
}

.item-promotion a {
  color: var(--second-color);
  text-decoration: none;
  font-size: 14px;
}

.item-promotion a > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.item-promotion a .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-weight: 600;
}
/* ----------------------------------------------------------------- */
/* GALLERY */
/* ----------------------------------------------------------------- */
.gallery {
  display: flex;
  width: 100%;
}

.wrap-gallery {
  max-width: var(--content-width);
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.header-gallery {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
}

.header-gallery span {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 74px;
}

.content-gallery {
  display: flex;
}

.content-gallery a {
  display: inline-block;
  text-decoration: none;
  margin-right: 16px;
}

.content-gallery a:last-child {
  margin-right: 0;
}

.content-gallery a img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}
/* ----------------------------------------------------------------- */
/* MENU */
/* ----------------------------------------------------------------- */
.menu {
  display: flex;
  width: 100%;
}

.wrap-menu {
  width: var(--content-width);
  position: relative;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: center;
  align-items: center;
}

.menu-item {
  height: 64px;
  width: 220px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #97a0ad;
  margin-right: 50px;
  font-weight: 600;
  cursor: pointer;
  color: var(--second-color);
}

.menu-item.select {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.menu-sidebar-wrapper__female {
  margin-top: 30px;
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 155px;
}

.menu-sidebar-wrapper__female::-webkit-scrollbar {
  display: none;
}

.menu-sidebar-wrapper__male {
  margin-top: 30px;
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 155px;
}

.menu-sidebar-list {
  display: flex;
  width: 100%;
  padding: unset;
  margin-bottom: unset;
}

.menu-sidebar-wrapper__male::-webkit-scrollbar {
  display: none;
}

.menu-sidebar-wrapper__children {
  margin-top: 30px;
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 155px;
}

.menu-sidebar-wrapper__children::-webkit-scrollbar {
  display: none;
}

.d-none {
  display: none;
}

.menu-sidebar-item {
  width: 150px !important;
  height: 150px;
  margin-top: 5px;
  margin-right: 20px;
}

.menu-sidebar-item:hover {
  transform: translateY(-10px);
  transition: all 500ms ease 0s;
}

.menu-sidebar-item:hover .image > img {
  box-shadow: 0px 4px 6px #000;
}

.menu-sidebar-item:hover .title {
  color: var(--primary-color);
}

.group-item {
  width: 150px;
}

.category_item {
  text-decoration: none;
}

.group-item .category_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_item .image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.category_item .title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 600;
  font-family: "SVN-Gilroy";
  color: var(--second-color);
  text-transform: uppercase;
}

.disabled {
  opacity: 0.2;
  transform: unset;
}
/* ----------------------------------------------------------------- */
/* PRODUCTS */
/* ----------------------------------------------------------------- */
.main {
  color: #000 !important;
}

.row {
  width: 100%;
  display: flex;
}

.list-product .row {
  white-space: nowrap;
  flex-wrap: unset;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease 0s;
}

.header-preview {
  height: var(--header-preview-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-preview__left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-preview__left > a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 900;
  background: linear-gradient(180deg, #fdb700 0%, #f02900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-preview__left .clock {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.clock span {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
}

.clock span:nth-child(2n + 1) {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  width: 30px;
  height: 30px;
  background: linear-gradient(180deg, #fdb700 0%, #f02900 100%);
  border-radius: 4px;
}

.clock span:nth-child(2n + 2) {
  background: linear-gradient(180deg, #fdb700 0%, #f02900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 4px;
}

.header-preview__right > a,
.header-preview__right {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
}

.content-preview__banner {
  width: 190px;
  height: 416px;
  margin-right: 42px;
  display: inline-block;
}

.content-preview__banner > img {
  width: 100%;
  height: 100%;
}

.content-preview {
  display: flex;
}

.wrap-list-product {
  position: relative;
  width: calc(100% - var(--content-banner-width));
}

.list-product {
  overflow-x: hidden;
}

.product-item {
  width: 220px;
  padding: 0;
  position: relative;
  height: 440px;
  margin-bottom: unset;
}

.wrap-product-sold {
  position: absolute;
  top: 0;
  left: 10px;
  width: auto;
  z-index: 2;
  padding: 0 7px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 24px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.product-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-preview i {
  line-height: 100%;
  font-size: 8px;
  color: yellow;
}

.product-preview span {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-left: 2px;
}

.product-sold {
  margin-left: 3px;
  display: flex;
}

.product-thumbnail {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
}

.product-thumbnail::before {
  content: "-30%";
  color: #fff;
  line-height: 25px;
  width: 90px;
  font-size: 12px;
  padding-left: unset;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  font-weight: 600;
  z-index: 1;
  background-color: #cd151c;
}

.product-thumbnail > a {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  padding-bottom: 133%;
}

.product-thumbnail > a > img {
  width: auto !important;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-thumb > img {
  max-width: 100%;
  height: auto;
}

.product-thumbnail > img {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 8px;
  vertical-align: middle;
}

.product-thumbnail:hover .img-thumb > img {
  scale: 1.1;
  transition: ease-in-out 0.5s;
}

.product-info {
  margin: 0;
  position: relative;
  text-align: left;
}

.product-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  height: 36px;
  font-size: 14px;
  line-height: 18px;
}

.product-name a {
  text-decoration: none;
  color: #000;
}

.product-name:hover > a {
  color: var(--primary-color);
}

.product-price {
  margin-top: 10px;
}

.product-price span:first-child {
  font-size: 14px;
  margin-right: 20px;
  font-weight: 700;
  color: #cd151c;
}

.product-price span:last-child {
  font-size: 13px;
  text-decoration: line-through;
  color: #aaa;
  font-weight: 700;
}

.flash-sale {
  width: 100%;
  height: 20px;
  position: relative;
  background: linear-gradient(90deg, #fdb201 0%, #f12d01 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  margin-top: 10px;
}

.main-title {
  height: 26px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--second-color);
}

.header-preview__r > a,
.header-preview__r i {
  font-weight: 700;
  text-decoration: none;
  color: var(--second-color);
}
/* ----------------------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------------------- */
.footer {
  background-color: var(--footer-color);
  padding-top: 25px;
  color: #fff;
  height: var(--footer-height);
}

/* X large */
.col-xl-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xl-2 {
  max-width: 16.66667%;
  flex: 0 0 16.66667%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xl-3 {
  max-width: 25%;
  flex: 0 0 25%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Large */
.col-lg-4 {
  max-width: 33.33333%;
  flex: 0 0 33.33333%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-lg-2 {
  max-width: 16.66667%;
  flex: 0 0 16.66667%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-lg-3 {
  max-width: 25%;
  flex: 0 0 25%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Medium */
.col-md-12 {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-md-3 {
  max-width: 25%;
  flex: 0 0 25%;
  padding-left: 10px;
  padding-right: 10px;
}

.col-md-6 {
  max-width: 50%;
  flex: 0 0 50%;
  padding-left: 10px;
  padding-right: 10px;
}

/* Mobile */
.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.footer ul {
  padding-top: 10px;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #dadada;
}

.foot-1 > p:first-child {
  margin-bottom: 30px;
  line-height: 18px;
  font-size: 14px;
}

.foot-1 > p:nth-child(2) {
  margin-bottom: 15px;
}

.foot-1 > form {
  border: 1px solid #fff;
  overflow: hidden;
  width: 475px;
  position: relative;
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
}

.foot-1 > form > input {
  height: 48px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  display: block;
  font-size: 16px;
  padding-left: 16px;
}

.foot-1 > form > input::placeholder {
  color: #fff;
}

.btn-subscribe {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 48px;
  text-align: center;
  padding: 0 28px;
  color: var(--primary-color);
  background-color: #fff;
  font-size: 16px;
  border-radius: 0;
  outline: none;
  border: none;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social a {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  transition: all 0.5s;
}

.social a:hover {
  transform: rotate(30deg);
}

.social a i {
  font-size: 40px;
  color: #fff;
}

.foot-2 {
  color: #fff;
}

.foot-2 h4,
.foot-3 h4,
.foot-4 h4 {
  font-size: 14px;
  text-transform: uppercase;
}

.foot-2 .list-menu,
.foot-3 .list-menu,
.foot-4 .list-menu {
  padding-left: 5px;
  list-style: none;
}

.foot-2 .list-menu li a,
.foot-3 .list-menu li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
}

.fone {
  font-size: 14px;
  line-height: 28px;
}

.fone i {
  font-size: 20px;
}

.footer-bottom {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  padding: 20px 0;
}
